* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    color: white;
    font-family: Poppins, sans-serif;
    scroll-padding-top: 120px;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(2, 7, 14);
}

nav {
    padding: 20px 35px;
    background-color: rgb(2, 7, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 21px;
}

.navbar h4 {
    padding: 10px;
    text-shadow: 2px 2px 6px orangered, 2px 2px 6px orangered;
}

.navbar h4:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

.navbar h4 a {
    text-decoration: none;
}

nav label i {
    display: none !important;
}

nav input {
    display: none;
}

nav h1 {
    color: lightblue;
    font-size: 30px;
    text-shadow: 2px 2px 4px orangered, 2px 2px 4px orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav h1 i {
    color: rgb(235, 140, 72);
}

.navbar h4 i {
    color: darkseagreen;
    text-shadow: none !important;
}

/* home */

.first {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.content,
.image {
    width: 44%;
}

.content h1 {
    text-shadow: 1px 1px 3px rgb(215, 124, 124);
    font-size: 52px;
    color: darkcyan;
}

.content p {
    line-height: 1.5;
    font-size: 17px;
    font-weight: bold;
    /* color:rgb(203, 171, 232); */
}

.content h3 {
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 34px;
}

.content h3 span {
    border-radius: 50%;
    padding: 7px 12px;
    border: 2px solid white;
    background-color: brown;
}

.content h3 span:hover {
    background-color: unset;
    cursor: pointer;
}

.content h3 .icon {
    margin: 0px 14px;
}

/* image hover */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* background-position:center; */
    object-fit: cover;
}

.image::before {
    content: '';
    position: absolute;
    inset: -20px 135px;
    background: linear-gradient(315deg, red, #e713e78c);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.image:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

.image::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: rgb(2, 7, 14);
    border-radius: 50%;
    z-index: 1;
}

.img-content {
    position: absolute;
    inset: 20px;
    border: none;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.img-content:hover {
    border: 3px solid rgb(42, 98, 117);
    background: linear-gradient(315deg, rgb(0, 0, 10), rgb(4, 0, 0));

}

.img-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
    text-align: center;
}

.image:hover .img-content img {
    opacity: 0;
}

.img-content h2 {
    position: relative;
    font-size: 1.5em;
    color: rgb(249, 245, 245);
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 5px 0px;
}

.img-content span {
    text-transform: uppercase;
    font-size: 18px;
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}

.img-content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: rgb(193, 91, 91);
    color: black;
    border-radius: 25px;
    font-size: 1.15em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.img-content a:hover {
    letter-spacing: 0.2em;
    background-color: wheat;
}

/* text model   */
.animated-text {
    font-size: 32px;
    font-weight: 600;
    min-width: 280px;
    padding: 10px 0px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "I am a front-end developer";
    color: coral;
    text-shadow: 1px 1px 3px rgb(215, 124, 124);
}

.animated-text span::after {
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: rgb(1, 1, 16);
    border-left: 2px solid darkorange;
    right: -8px;
    animation: cursor .8s infinite;
    animation: typing 30s steps(26) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid rgb(1, 1, 16);
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    70%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


@media screen and (max-width:750px) {
    nav .navbar {
        justify-content: start;
        flex-direction: column;
        color: black;
        position: fixed;
        top: 70px;
        padding-top: 27px;
        left: 100%;
        width: 70%;
        height: 88vh;
        left: -100%;
        transition: all 1s;
        font-weight: bold;
        text-shadow: 2px 2px 2px white;
        align-items: center;
    }

    input:checked~.navbar {
        background-color: black;
        left: 0;
    }

    nav label i {
        display: block !important;
        font-size: 30px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .animated-text {
        font-size: 30px;
    }

}

@media screen and (max-width:450px) {
    .first {
        flex-direction: column-reverse;
        padding-top: 80px;
        gap: 10px;
    }

    .content h1 {
        font-size: 22px;
    }

    .content {
        width: 85%;
    }

    .image {
        width: 270px;
        height: 270px;
    }

    .img-content h2 {
        font-size: 14px;
    }

    .img-content span {
        font-size: 12px;
    }

    .animated-text {
        font-size: 21px;
    }

    .img-content a {
        font-size: 12px;
    }
}

@media screen and (min-width:450px) and (max-width:750px) {
    .first {
        flex-direction: column-reverse;
        padding-top: 80px;
    }

    .content {
        width: 87%;
    }

    .image {
        width: 380px;
        height: 380px;
    }

    .img-content h2 {
        font-size: 25px;
    }

    .img-content span {
        font-size: 19px;
    }

    .content h1 {
        font-size: 33px;
    }
}

@media screen and (min-width:750px) and (max-width:1200px) {
    .navbar h4 {
        padding: 0px;
        font-size: 17px;
    }

    .image {
        width: 330px;
        height: 330px;
    }

    .content h1 {
        font-size: 33px;
    }

    .animated-text {
        font-size: 23px;
    }

    .img-content h2 {
        font-size: 1.3em;
    }

    .img-content span {
        font-size: 16px;
    }
}

/* About */
.font {
    font-size: 90px;
    text-align: center;
    color: rgb(148, 248, 215);
    padding: 40px 0px 40px 0px;
}

.font span {
    color: rgb(208, 42, 42);
}

.p-i {
    text-align: center;
    padding: 20px 0px;
    font-size: 34px;
    color: lightpink;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.about1,
.about2,
.about3 {
    width: 30%;
    /* background-color:blueviolet; */
    min-height: 200px;
}

.about1 span,
.about2 span,
.about3 span {
    font-size: 21px;
    font-family: normal;
}

.about1 h2,
.about2 h2,
.about3 h2 {
    color: lightgreen;
    font-size: 21px;
    line-height: 1.7;
}

#a {
    padding: 13px 20px;
    border-radius: 30px;
    background-color: darkslategray;
    font-weight: bold;
    border: 1px solid white;
}

#a:hover {
    padding: 13px 24px;
    cursor: pointer;
    box-shadow: 2px 2px 4px white, -2px -2px 4px white;
}

.about3 :nth-child(3) {
    padding-bottom: 20px;
}

/* skills */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.skill-img img {
    height: 93px;
    width: 93px;
}

.skill-img {
    padding: 20px;
    box-shadow: 3px 3px 10px darkslategray, -3px -3px 10px darkslategrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.skill-img:hover {
    background-color: white;
}

.skill-img:hover h3 {
    color: black;
}

.skill-img h3 {
    padding-top: 12px;
}


/* education   */

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.edu1 h1 {
    font-size: 27px;
    color: lightslategrey;
}

.edu1 {
    /* width:38%; */
    padding: 0px 30px;
    border-left: 2px solid white;
    min-height: 100px;
    position: relative;
}

.edu1 h3 {
    padding: 20px 0px;
    color: lightseagreen;
    font-size: 22px;
}

.edu1 p {
    font-size: 17px;
    color: lightseagreen;
}

.edu1 button {
    padding: 10px 20px;
    border: 0;
    background-color: darkslategrey;
    margin-bottom: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.edu1 :first-child {
    padding: 15px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    left: -28px;
    top: -5px;

}

@media screen and (max-width:500px) {
    .font {
        font-size: 42px;
    }

    .about {
        flex-direction: column;
    }

    .about1,
    .about2,
    .about3 {
        width: 85%;
    }

    .skills {
        flex-direction: column;
    }

    .about h2 {
        font-size: 17px;
    }

    .p-i {
        padding: 0;
    }

    .edu1 h1 {
        font-size: 19px;
    }

    .edu1 h3 {
        font-size: 14px;
    }

    .education {
        flex-direction: column;
        padding: 0px 0px 0px 50px;
    }

    .edu1 p {
        font-size: 14px;
    }

    .edu1 button {
        margin-top: 10px;
    }
}

@media screen and (min-width:500px) and (max-width:750px) {
    .skills {
        flex-wrap: wrap;
    }

    .about {
        flex-wrap: wrap;
        gap: 20px;
    }

    .about1,
    .about2,
    .about3 {
        width: 40%;
    }

    .font {
        font-size: 50px;
    }

    .about1 h2,
    .about2 h2 {
        font-size: 19px;

    }

    .edu1 h1 {
        font-size: 25px;
    }

    .edu1 h3 {
        font-size: 19px;
    }

    .education {
        flex-direction: column;
        padding: 0px 0px 0px 60px;
    }

    .edu1 p {
        font-size: 17px;
    }

    .edu1 button {
        margin-top: 10px;
    }

    .edu1 {
        width: 100%;
    }

}

@media screen and (min-width:750px) and (max-width:1200px) {
    .skills {
        flex-wrap: wrap;
    }

    .about1,
    .about2,
    .about3 {
        width: 35%;
    }

    .about {
        flex-wrap: wrap;
    }

    .about {
        gap: 20px;
    }

    .font {
        font-size: 72px;
    }

    .education {
        padding: 45px;
    }
}

/* contact */
.contact1 p {
    line-height: 1.5;
}

.contact1 {
    width: 40%;
}

.contact1 p {
    padding: 15px 0px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.message {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.name input {
    padding: 15px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 17px;
}

.name {
    display: flex;
    gap: 20px;
}

.name textarea {
    padding: 15px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 17px;
    width: 100%;
    height: 150px;
}

.message a {
    width: 20%;
    background-color: brown;
    border-radius: 30px;
    border: none;
    padding: 13px 21px;
    font-size: 18px;
}



.container .box1 {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 40%;

}

.content1 h2 {
    color: lightslategrey;
}

.container .box1 .get {
    font-size: 30px;
}

.container .box1 .sub {
    display: flex;
    gap: 15px;
    font-size: 19px;
}

.icon1 i {
    color: brown;
    font-size: 30px;
}

.container .box1 .para1 {
    line-height: 27px;
    font-size: 18px;
}

.container .icon1 {
    padding: 6px;
    font-size: 22px;

}

.container .box1 .content1 h2 {
    margin-bottom: 15px;
}


/* projects   */
.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.p-1 {
    position: relative;
}

.p-1 img {
    height: 310px;
    width: 400px;
}

.hover-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    background-color: rgb(28, 27, 27);
    height: 0;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.hover-img h1 {
    color: brown;
}

.p-1:hover .hover-img {
    opacity: 1;
    height: 100%;
    cursor: pointer;
}

.hover-img p {
    line-height: 1.5;
}

.hover-img button {
    border-radius: 30px;
    border: 0;
    background-color: orangered;
    padding: 10px 30px;
    font-size: 17px;
    border: 1px solid white;
}

.hover-img button:hover {
    background-color: transparent;
}

@media screen and (max-width:750px) {
    .contact {
        flex-direction: column;
    }

    .container .box1 {
        width: 85%;
    }

    .content1 p {
        font-size: 17px;
    }

    .name {
        flex-direction: column;
    }

    .message a {
        width: 110px;
    }

    .message {
        padding: 20px;
        width: 100%;
    }

    .projects {
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
    }

    .p-1 img {
        width: 100%;
    }
}

@media screen and (min-width:750px) and (max-width:1200px) {
    .name textarea {
        width: 84%;
    }

    .name input {
        width: 40%;
    }

    .container .box1 {
        width: 50%;
    }

    .contact {
        padding: 40px;
    }

    #a {
        width: 105px;
    }

    .projects {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
    }

    .p-1 img {
        width: 100%;
    }
}